In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [13]:
#RUN THIS CODE TO LOAD FIRST DATAFRAME
#(Pickle allows you to save any object (like dataframes) to ur file system)


df = pd.read_pickle("./data/data_pkls/stock50.pkl")

In [14]:
#EXPLORE DATAFRAME
df.head()

           GOOG                                 ABNB                 ... AMAT  \
           Open High Low Close Adj Close Volume Open High Low Close  ...  Low
Date                                                                 ...
1962-01-02  NaN  NaN NaN   NaN       NaN    NaN  NaN  NaN NaN   NaN  ...  NaN
1962-01-03  NaN  NaN NaN   NaN       NaN    NaN  NaN  NaN NaN   NaN  ...  NaN
1962-01-04  NaN  NaN NaN   NaN       NaN    NaN  NaN  NaN NaN   NaN  ...  NaN
1962-01-05  NaN  NaN NaN   NaN       NaN    NaN  NaN  NaN NaN   NaN  ...  NaN
1962-01-08  NaN  NaN NaN   NaN       NaN    NaN  NaN  NaN NaN   NaN  ...  NaN

                                   MMM                                \
           Close Adj Close Volume Open      High       Low     Close
Date
1962-01-02   NaN       NaN    NaN  0.0  4.250000  4.125000  4.156250
1962-01-03   NaN       NaN    NaN  0.0  4.187500  4.085938  4.187500
1962-01-04   NaN       NaN    NaN  0.0  4.257813  4.187500  4.187500
1962-01-05   NaN       NaN    NaN  0.0  4.171875  4.062500  4.078125
1962-01-08   NaN       NaN    NaN  0.0  4.085938  4.031250  4.054688


           Adj Close  Volume
Date
1962-01-02  0.702820  212800
1962-01-03  0.708105  422400
1962-01-04  0.708105  212800
1962-01-05  0.689609  315200
1962-01-08  0.685646  334400

[5 rows x 300 columns]

In [15]:
#SELECT GOOGLE
df['GOOG']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1962-01-02,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-04,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-05,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-08,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2024-01-08,138.000000,140.639999,137.880005,140.529999,140.529999,17645300.0
2024-01-09,140.059998,142.800003,139.789993,142.559998,142.559998,19579700.0
2024-01-10,142.520004,144.524994,142.460007,143.800003,143.800003,16641900.0
2024-01-11,144.895004,146.660004,142.214996,143.669998,143.669998,17471100.0
2024-01-12,144.339996,144.739899,143.360001,144.240005,144.240005,13710960.0