In [3]:
import pandas as pd

nas = pd.read_csv('nasdaq100.csv')

In [4]:
nas

                          Company Symbol
0                       Apple Inc   AAPL
1                  Microsoft Corp   MSFT
2                  Amazon.com Inc   AMZN
3                     NVIDIA Corp   NVDA
4                    Broadcom Inc   AVGO
..                            ...    ...
96      Warner Bros Discovery Inc    WBD
97                     Splunk Inc   SPLK
98                   Illumina Inc   ILMN
99   Walgreens Boots Alliance Inc    WBA
100        Sirius XM Holdings Inc   SIRI

[101 rows x 2 columns]

In [3]:
from os import listdir
from os.path import isfile, join
files = [f[:-5] for f in listdir('../news/json/')]
print(files)
x = pd.DataFrame(files)
x

['ABNB', 'ADBE', 'ADI', 'ADP', 'ADSK', 'AEP', 'AMAT', 'AMD', 'AMGN', 'AMZN', 'ANSS', 'APPL', 'ASML', 'AVGO', 'AZN', 'BIIB', 'BKNG', 'BKR', 'CCEP', 'CDNS', 'CDW', 'CEG', 'CHTR', 'COST', 'CPRT', 'CRWD', 'CSCO', 'CSGP', 'CSX', 'CTAS', 'CTSH', 'DASH', 'DDOG', 'DLTR', 'DXCM', 'EA', 'EXC', 'FANG', 'FAST', 'FTNT', 'GEHC', 'GFS', 'GILD', 'GOOG', 'GOOGL', 'HON', 'IDXX', 'ILMN', 'INTC', 'INTU', 'ISRG', 'KDP', 'KHC', 'KLAC', 'LRCX', 'LULU', 'MCHP', 'MDB', 'MDLZ', 'MELI', 'META', 'MNST', 'MRNA', 'MRVL', 'MSFT', 'MU', 'NFLX', 'NVDA', 'NXPI', 'ODFL', 'ON', 'ORLY', 'PANW', 'PCAR', 'PDD', 'PEP', 'PYPL', 'QCOM', 'REGN', 'ROP', 'ROST', 'SBUX', 'SIRI', 'SNPS', 'SPLK', 'TEAM', 'TMUS', 'TSLA', 'TTWO', 'TXN', 'VRSK', 'VRTX', 'WBA', 'WBD', 'WDAY', 'XEL', 'ZS']